<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="<a href="#"></a>
</head>
 
<body class = "bg-info">
 
 
<div align="center">
<!-- Inserting the image -->

</div>
 
 
 
 
<div class="row">
 
 
<div >
{{{body}}}
</div>
 
 
</div>
 
 
</body>
</html>
