<!-- Obtaining value from the course controller -->
 
<h3>{{viewTitle}}</h3>
<form action="/course" method="POST">
<input type="hidden" name="_id" value="{{course._id}}">
 
<div >
<label>Course Name</label>
<input type="text"  name="courseName" placeholder="Course Name" value="{{course.courseName}}">
 
<div >
{{course.courseNameError}}</div>
</div>
<div >
<label>Course ID</label>
<input type="number" min='10000' max='99999'  name="courseId" placeholder="Course Id" value="{{course.courseId}} " required>
</div>
<div >
<div >
<label>Course Duration</label>
<input type="number" min='10' max='99'  name="courseDuration" placeholder="Course Duration (Hrs)" "{{course.courseDuration}} " required>
</div>
<div >
<label>Course Fee</label>
<input type="number" min='100' max="100000"  name="courseFee" placeholder="Course Fee " "{{course.courseFee}} " required>
</div>
</div>
<div >
<button type="submit" ><i ></i> Submit</button>
<a class="btn btn-secondary" href="/course/list"><i class="fa fa-list-alt"></i> View All Courses</a>
</div>
</form>